body {
  background-color: $color-light;
  color: $color-black;

  nav {
    background-color: $color-light;
  }
}

.btn-circle {
  background-color: $color-black;
  color: $color-light;
}
.btn-circle:hover {
  background-color: $color-darkgrey;
  color: $color-light;
}
