body {
  background-color: $color-light;
  color: $color-black;

  nav {
    background-color: $color-light;
    .nav-cart:hover {
      path {
        fill: $color-primary;
      }
    }
  }
  a {
    color: black;
  }
}

body.christmas {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(/images/gnomes/christmas-gnome.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  .price-display {
    color: red;
  }
}

.btn-circle {
  background-color: $color-black;
  color: $color-light;
}

.filter-btn-svg {
  path {
    fill: $color-black;
  }
}
