body {
  color: $color-light;
  background-color: $color-black;

  nav {
    background-color: $color-black;
    .nav-cart {
      path {
        fill: $color-light;
      }
    }
  }
  a {
    color: white;
  }
}
body.christmas {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/images/gnomes/christmas-gnome.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.btn-circle {
  background-color: $color-light;
  color: $color-black;
}

.filter-btn-svg {
  path {
    fill: $color-light;
  }
}
