body {
  background-color: $color-light;
  color: $color-black;

  nav {
    background-color: $color-light;
  }

  .gnome-details-section {
    background-color: $color-light;
  }
}

.btn-circle {
  background-color: $color-black;
  color: $color-light;
}
