body {
  main {
    .shop-section {
      max-width: 1260px;
      .gnome-list-container {
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        gap: 20px 40px;

        .gnome-list-item {
          width: 100%;
          grid-template-columns: 170px 1fr;
          grid-template-rows: 50px 90px 40px;
          border-right: 1px solid $color-primary;
          border-radius: 16px;

          .gnome-list-image {
            width: 160px;
            height: 180px;
          }
        }
      }
    }
  }
}
