body {
  main {
    .shop-section {
      .gnome-list-container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .gnome-list-item {
          width: 45%;
          grid-template-columns: 170px 1fr;
          grid-template-rows: 50px 90px 40px;
          border-right: 1px solid $color-primary;
          border-radius: 16px;

          .gnome-list-image {
            width: 160px;
            height: 180px;
          }
        }
      }
    }
  }
}
