body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding: 0 1rem;

  h2 {
    font-size: 1.7rem;
    color: $color-primary;
  }
  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }
  label,
  p {
    font-size: 1rem;
  }

  .hidden,
  .gnome-details-section.hidden,
  .gnome-list-container.hidden,
  .shopping-cart-section.hidden,
  .shop-section.hidden,
  .confirmation-section.hidden,
  .card-payment-container.hidden {
    display: none;
  }

  .page-active {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
  }

  nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-primary;
    z-index: 2;

    .gottfrid-logo {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 1.55rem;
      cursor: pointer;
      .gnomes-span {
        margin-top: -0.3rem;
        margin-left: 0.1rem;
        display: block;
        color: $color-primary;
        font-size: 1rem;
      }
    }
    .nav-cart-btn {
      position: relative;
      cursor: pointer;

      // padding-right: ;
      .cart-counter {
        background-color: $color-primary;
        position: absolute;
        top: 0;
        right: -30px;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 50%;
        color: $color-light;
      }
    }
  }

  main {
    position: relative;
    .shop-section {
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 80px);
      header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr;
        gap: 12px 0px;
        align-items: center;
        justify-items: center;

        h2 {
          grid-column: 1 / span 2;
          line-height: 0;
          margin-bottom: 0.5rem;
          align-self: end;
        }

        .shop-select-container:hover {
          label {
            color: $color-primary;
          }
          select {
            border: 1px solid $color-primary;
          }
        }

        select {
          padding: 0.3rem;
        }
        .filter-btn-container {
          justify-self: start;
          align-self: self-end;
          margin-top: 16px;
        }
        .filter-btn {
          display: flex;
          align-items: center;
          gap: 12px;
        }

        .filter-btn:hover {
          p {
            color: $color-primary;
          }
          .filter-btn-svg {
            path {
              fill: $color-primary;
            }
          }
        }
      }
      .shop-filter-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 150px;
        border-bottom: 1px solid $color-primary;

        gap: 10px;
        align-items: center;
        // margin-bottom: 3rem;

        .shop-filter-radio {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 60px 40px 40px;
          // grid-template-rows: 1fr 1fr 1fr;
          align-items: start;

          h3 {
            grid-column: 1 / span 2;
          }
        }

        .shop-filter-sliders {
          display: grid;
          grid-template-rows: 60px 40px 40px;
        }
      }

      .gnome-list-container.hidden {
        display: none;
      }
      .gnome-list-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        .gnome-list-item {
          display: grid;
          grid-template-columns: 130px 1fr;
          grid-template-rows: 50px 80px 30px 30px;
          gap: 2px 10px;
          margin: 1rem 0;
          border-bottom: 1px solid $color-primary;

          figure {
            grid-row: span 5;
            margin: 0;
            img {
              border-radius: 10px;
            }
          }
          .gnomeDetailsLinkList {
            margin: 0;
            text-align: left;
          }
          .gnomeDetailsLinkList:hover,
          .gnomeDetailsLinkList:focus {
            color: $color-primary;
            cursor: pointer;
          }
          h4 {
            margin: 0;
          }
          // h4:hover {
          //   color: $color-primary;
          //   cursor: pointer;
          // }

          .amount-to-order {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 45px 45px;
            align-items: center;
            button {
              grid-row: span 3;
            }
          }
          p {
            margin: 0;
          }
        }
      }
    }

    .gnome-details-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - 80px);

      .btn-close {
        // align-self: end;
        margin-left: 60%;
      }

      .gnome-display-img {
        width: 250px;
        height: 200px;
        object-fit: cover;
        border-radius: 12px;
      }
      .img-thumb-container {
        display: flex;
        justify-content: space-evenly;

        img {
          width: 60px;
          height: 60px;
          border-radius: 8px;
        }
      }

      .gnome-item-h2 {
        font-size: 1.4rem;
        color: $color-primary;
        margin: 0;
      }
      .item-price {
        line-height: 0;
        padding-bottom: 0.7rem;
      }

      .gnome-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          margin: 0 0.6rem;
          padding: 0.3rem 1.5rem;
          border: 3px solid $color-black;
          border-radius: 24px;
        }
      }
    }

    .shopping-cart-section {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      .shopping-cart-heading {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        h2 {
          line-height: 0;
        }
        button {
          justify-self: end;
          margin-right: 1rem;
        }
        p {
          line-height: 0.5rem;
        }
      }
      .shopping-cart-gnomes-container {
        margin-top: 1rem;
        :nth-child(1) {
          border-top: 1px solid $color-primary;
        }
      }
      .shopping-cart-gnome-grid {
        display: grid;
        grid-template-columns: 44% 28% 28%;
        grid-template-rows: 3rem 2.5rem 3.5rem;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid $color-primary;

        .btnRemoveItem {
          justify-self: end;
          margin-right: 1rem;
        }

        h3 {
          grid-column: 1 / span 2;
          color: $color-primary;
        }
        .gnome-cart-buttons-container {
          display: flex;
          justify-content: left;
          align-items: center;
          h4 {
            margin: 0 0.5rem;
            padding: 0.4rem 0.7rem;
            border: 2px solid $color-black;
            border-radius: 12px;
          }
        }
      }
      .cartTotalGrid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 1.9rem);
        align-items: center;

        .discount-code-input-container {
          grid-row: 2 / span 2;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 2px;
        }

        .discount-p {
          font-size: 0.9rem;
        }

        .discount-code-p {
          grid-row: 2 / span 2;
        }

        .btn-rectangle-small {
          // margin: auto auto;
          width: 50%;
          align-self: left;
        }

        h4,
        p {
          line-height: 0;
          margin: 0;
        }
        .go-checkout-btn-container {
          grid-column: 2;
          grid-row: span 2;
          // width: 50%;
        }
      }
    }
    .order-form-section {
      min-height: calc(100vh - 80px);
      form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        h2 {
          line-height: 0;
        }
        .post-port-container {
          display: grid;
          grid-template-columns: calc(50% - 10px) calc(50% - 10px);
          gap: 20px;
          // input {
          //   width: 70%;
          // }
        }

        .form-error-msg {
          color: red;
        }

        .too-slow-info {
          color: red;
        }
        .form-input-bar {
          display: flex;
          flex-direction: column;
          margin: 0.7rem 0;
          gap: 0.5rem;
          input[type='text'],
          input[type='number'],
          input[type='tel'],
          input[type='email'] {
            padding: 0.5rem;
            border-radius: 10px;
          }
        }
      }
      .checkbox-container {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
      }

      .form-buttons-container {
        display: flex;
        justify-content: space-around;
      }
    }
  }
  .card-payment-container {
    // width: 100%;
    display: grid;
    grid-template-columns: calc(33% - 14px) calc(34% - 12px) calc(33% - 14px);
    grid-template-rows: 1fr 1fr;
    gap: 0 20px;
    :nth-child(1) {
      grid-column: 1 / span 3;
    }

    .confirmation-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 80px);
      h2 {
        color: $color-primary;
      }
      .delivery-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .ordered-items-list {
        border-top: 1px solid $color-primary;
        width: 100%;
        .ordered-item {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(3, 40px);
          gap: 15px;
          border-bottom: 1px solid $color-primary;

          padding: 1rem 0;
          img {
            grid-row: 1 / span 3;
          }
          h3 {
            grid-column: 2 / span 3;
          }
          p {
            line-height: 0;
          }
        }
      }
      .confirmation-sum {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 40px);
        gap: 15px;
        width: 100%;

        p:nth-child(odd) {
          grid-column: 2 / span 1;
        }
        p:nth-child(even) {
          grid-column: 4 / span 1;
        }
      }
    }
  }
}
