body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding: 0 1rem;

  h2 {
    font-size: 2rem;
  }

  // .test {
  //   background-color: red;
  //   border: 1pc solid blue;
  // }

  .hidden,
  .gnome-details-section.hidden,
  .gnome-list-container.hidden,
  .shopping-cart-section.hidden,
  .shop-section.hidden {
    display: none;
  }

  .page-active {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
  }

  nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-primary;
    z-index: 2;

    .gottfrid-logo {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 1.55rem;
      .gnomes-span {
        margin-top: -0.3rem;
        margin-left: 0.1rem;
        display: block;
        color: $color-primary;
        font-size: 1rem;
      }
    }
    figure {
      position: relative;
      .cart-counter {
        background-color: $color-primary;
        position: absolute;
        top: 0;
        right: -30px;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 50%;
        color: $color-light;
      }
    }
  }

  main {
    position: relative;
    .shop-section {
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 80px);
      header {
        display: grid;
        grid-template-columns: 150px 1fr 1fr;
        align-items: center;

        label,
        p {
          font-size: 1.3rem;
        }
        .shop-select-container:hover {
          label {
            color: $color-primary;
          }
          select {
            border: 1px solid $color-primary;
          }
        }

        select {
          padding: 0.3rem;
        }
        .filter-btn {
          display: flex;
          align-items: center;
          gap: 12px;
        }

        .filter-btn:hover {
          p {
            color: $color-primary;
          }
          .filter-btn-svg {
            path {
              fill: $color-primary;
            }
          }
        }
      }
      .shop-filter-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3rem;
        .shop-filter-radio {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;

          h3 {
            grid-column: 1 / span 2;
          }
        }
      }

      .gnome-list-container.hidden {
        display: none;
      }
      .gnome-list-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        .gnome-list-item {
          display: grid;
          grid-template-columns: 130px 1fr;
          grid-template-rows: 50px 50px 30px 30px;
          gap: 2px 10px;
          margin: 1rem 0;
          border-bottom: 1px solid $color-primary;

          figure {
            grid-row: span 5;
            margin: 0;
            img {
              border-radius: 10px;
            }
          }
          h4 {
            font-size: 1.2rem;
            margin: 0;
          }
          h4:hover {
            color: $color-primary;
            cursor: pointer;
          }

          .amount-to-order {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 100px 50px 1fr;
            align-items: center;
            button {
              grid-row: span 2;
            }
          }
          p {
            margin: 0;
          }
        }
      }
    }

    .gnome-details-section {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - 80px);

      .btn-close {
        // align-self: end;
        margin-left: 60%;
      }

      .gnome-display-img {
        width: 300px;
        height: 250px;
        object-fit: cover;
      }
      .img-thumb-container {
        display: flex;
        justify-content: space-evenly;

        img {
          width: 80px;
          height: 80px;
        }
      }

      h2 {
        font-size: 2rem;
        color: $color-primary;
        margin: 0;
      }
      .item-price {
        font-size: 1.4rem;
        line-height: 0;
        padding-bottom: 0.7rem;
      }

      .gnome-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
          margin: 0 1rem;
          font-size: 2rem;
          padding: 0.5rem 3rem;
          border: 3px solid $color-black;
          border-radius: 24px;
        }
      }

      h3 {
        font-size: 2.3rem;
        // line-height: 0;
      }
    }

    .shopping-cart-section {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      h4 {
        font-size: 1.4rem;
      }
      .shopping-cart-heading {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        h2 {
          line-height: 0;
        }
        button {
          justify-self: end;
          margin-right: 1rem;
        }
        p {
          line-height: 0.5rem;
        }
      }
      .shopping-cart-gnomes-container {
        margin-top: 1rem;
        :nth-child(1) {
          border-top: 1px solid $color-primary;
        }
      }
      .shopping-cart-gnome-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4rem 3rem 4rem;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid $color-primary;

        .btnRemoveItem {
          justify-self: end;
          margin-right: 1rem;
        }

        h3 {
          font-size: 1.6rem;
          grid-column: 1 / span 2;
          color: $color-primary;
        }
        .gnome-cart-buttons-container {
          display: flex;
          justify-content: left;
          align-items: center;
          h4 {
            margin: 0 0.5rem;
            padding: 0.4rem 0.7rem;
            border: 2px solid $color-black;
            border-radius: 12px;
          }
        }
      }
      .cartTotalGrid {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 3rem 4rem;
        align-items: center;

        .go-checkout-btn-container {
          grid-column: 2;
          // width: 50%;
        }
      }
    }
    .order-form-section {
      min-height: calc(100vh - 80px);
      form {
        display: flex;
        flex-direction: column;
        .form-input-bar {
          display: flex;
          flex-direction: column;
          margin: 0.7rem 0;
          gap: 0.5rem;
          input[type='text'],
          input[type='number'],
          input[type='tel'],
          input[type='email'] {
            padding: 0.5rem;
            border-radius: 10px;
          }
        }

        .card-payment-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 0 20px;
          :nth-child(1) {
            grid-column: 1 / span 3;
          }
        }
        .checkbox-container {
          display: flex;
          flex-direction: column;
          margin: 2rem 0;
        }

        .form-buttons-container {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
