$color-light: #ffffff;
$color-black: #000;
$color-darkgrey: #777;
$color-lightgrey: #bbb;
$color-green-main: #01b601;
$color-green-hover: #00eb00;
$color-red-main: rgb(182, 1, 1);
$color-red-hover: rgb(235, 0, 0);
