.btn-circle {
  border-radius: 50%;
  border: none;
}

.btn-small {
  width: 35px;
  height: 35px;
}

.btn-circle.btn-small {
  font-size: 1.1rem;
}
.btn-circle.btn-large {
  font-size: 1.1rem;
  font-size: 1.3rem;
}

.btn-large {
  width: 45px;
  height: 45px;
}

.btn-rectangle {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: none;
}
.btn-rectangle-small {
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
  border: none;
}

.btn-green {
  background-color: $color-green-main;
  color: white;
  border: 2px solid $color-green-main;
}
.btn-green:disabled {
  background-color: #888;
  border: 2px solid #888;
}
.btn-green:disabled:hover {
  background-color: #888;
  border: 2px solid #888;
}
.btn-green:hover,
.btn-green:focus {
  background-color: $color-green-hover;
}
.btn-red {
  background-color: $color-red-main;
  color: white;
  border: 2px solid $color-red-main;
}
.btn-red:hover,
.btn-red:focus {
  background-color: $color-red-hover;
}

.btn-circle:hover,
.btn-circle:focus {
  background-color: $color-primary;
}

.invisible-btn {
  border: none;
  padding: 0;
  background-color: rgba($color: #000000, $alpha: 0);
}
